body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 280px 3fr 1fr;
    grid-template-rows: minmax(180px, auto) 1fr;
    height: 100vh;
}

.header{
    background-color: #FFFFFF;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    z-index: 1;
}

.greeting{
    margin: 0;
    font-size: 0.9rem;
}

.profile h2{
    margin: 0;
}

.icons{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.icons > img{
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    filter: invert(0.5);
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile > img{
    vertical-align: middle;
    height: 75px;
    width: 75px;
    margin-right: 8px;
    filter: invert(0.5);
}

.search{
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar-img{
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    filter: invert(0.25);
}

.search input{
    width: 600px;
    border: none;
    background-color: #e2e8f0;
    border-radius: 20px;
    padding: 10px 20px;
}

.search input:focus{
    outline: none;
}

.information{
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/3;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px;
}

.sidebar ul{
    padding: 0;
    margin: 50px 0;
}

.sidebar li{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.dashboard{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
    margin-bottom: 40px;
}

.dashboard > img{
    width: 50px;
    height: 50px;
}

.dashboard-img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    filter: invert(1);
}

.projects{
    background-color: whitesmoke;
    grid-column: 2/3;
    padding: 20px;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.projects .content .card{
    min-height: 200px;
    background: white;
    border-left: 8px solid #f0b429;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.your-projects,
.announcements-title,
.trending-title{
    padding: 16px;
    font-size: 1.2em;
    font-weight: bold;
}

.menu{
    background-color: whitesmoke;
    grid-column: 3/4;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements > .card,
.trending > .card{
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}

.title{
    font-weight: bold;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

button{
    background-color: #679fe6;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #679fe6;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}